* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url('OREOfront.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    padding: 20px;
}

.hero .name h1 {
    font-size: 3rem;
    color: black;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.content {
    padding: 40px 20px;
    font-size: 1.2rem;
    background-color: #000000;
    color: white;
}

.resume, .skills, .projects, .awards {
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fe6601;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

.skills li {
    margin: 10px;
    flex: 1 1 150px;
    text-align: center;
    font-size: 1.2rem;
}

.title {
    font-weight: 700;
}

.card {
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h3 {
    color: #f39c12;
}

.project-card h3 {
    margin-bottom: 10px;
}

.Education {
    margin-bottom: 30px;
}

.education-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.date {
    font-style: italic;
    color: #9c9c9c;
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;
    flex-wrap: wrap;
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    flex-grow: 1;
}

.project-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    flex-grow: 1;
}

.project-content p {
    max-width: 400px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

@media (max-width: 768px) {
    .hero .name h1 {
        font-size: 2rem;
    }

    .content {
        padding: 20px;
    }

    .project-content {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 100%;
        max-width: 100%;
        height: 250px;
    }

    .project-content p {
        max-width: 100%;
    }

    .project-image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

.social-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #0077b5;
}

.social-icon:hover .fa-envelope {
    color: #f39c12;
}

.social-icon:hover .fa-linkedin {
    color: #0e76a8;
}

.social-icon:hover .fa-hacker-news {
    color: #ff6600;
}

.social-icon:hover .fa-youtube {
    color: #ff0000;
}

.social-icon:hover .fa-github {
    color: #666;
}

.social-icon:hover .fa-rss {
    color: #f8c32b;
}

.awards ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

.awards li {
    margin: 10px 0;
}
